body {
    background-color: #F9FAFB;
}

.card {
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.05);
    border: none;
}

.btn {
    border-radius: 10px;
}

.dashboard-card {
    transition: 0.3s ease;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.page-title {
    font-weight: 600;
}
